@model TheUCFour.Models.SupplierViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section MyStyle
{
    <style>
        input[type=text], select {
            width: 70%;
            padding: 8px 10px;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type=submit] {
            width: 15%;
            background-color: #4CAF50;
            color: white;
            text-align: center;
            padding: 10px 14px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-left: 55%;
        }

            input[type=submit]:hover {
                background-color: #45a049;
            }

        /*For table*/
        #customers {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
            margin: 0 auto;
        }

            #customers td, #customers th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #customers tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #customers tr:hover {
                background-color: #ddd;
            }

            #customers th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #4CAF50;
                color: white;
                text-align: center;
            }

            #customers td {
                text-align: center;
            }

                #customers td a {
                    text-decoration: none;
                }
    </style>
}

<h3 style="text-align:center;">Search Supplier</h3>
<div style="margin-left:22%;">
    <form method="post">
        @Html.LabelFor(c => c.Code)<br />
        @Html.TextBoxFor(c => c.Code, Model.Code)<br />
        @*@Html.ValidationMessageFor(c => c.Code)<br />*@

        @Html.LabelFor(c => c.Name)<br />
        @Html.TextBoxFor(c => c.Name, Model.Name)<br />
        @*@Html.ValidationMessageFor(c => c.Name)<br />*@

        @Html.LabelFor(c => c.Address)<br />
        @Html.TextBoxFor(c => c.Address, Model.Address)<br />
        @*@Html.ValidationMessageFor(c => c.Address)<br />*@

        @Html.LabelFor(c => c.Email)<br />
        @Html.TextBoxFor(c => c.Email, Model.Email)<br />
        @*@Html.ValidationMessageFor(c => c.Email)<br />*@

        @Html.LabelFor(c => c.Contact)<br />
        @Html.TextBoxFor(c => c.Contact, Model.Contact)<br />
        @*@Html.ValidationMessageFor(c => c.Contact)<br />*@

        @Html.LabelFor(c => c.ContactPerson)<br />
        @Html.TextBoxFor(c => c.ContactPerson, Model.ContactPerson)<br />
        @*@Html.ValidationMessageFor(c => c.ContactPerson)<br />*@
        <input type="submit" value="Submit">
    </form>
</div>
<br /><br />

@{
    Html.RenderPartial("~/Views/Shared/Supplier/_SupplierDetails.cshtml", Model);
}


